*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.form-control:focus {
  border-color: #ff80ff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 100, 255, 0.5);
}
.form-check [type=checkbox] {
  width: 40px;
  height: 30px;
}
.delete {
  width: 60px;
}
.item svg {
  width: 48px;
  min-width: 48px;
  height: 36px;
  font-size: 1rem;
  color: steelblue;
  cursor: pointer;
}